@media screen and (min-width:768px) {

    /* Heading */
    /* Navbar */
    .website-name {
        font-size: calc(1.3rem + .6vw);
        font-weight: 700;
    }

    /* Freelancer title */
    .big-title {
        font-size: 3.5rem;
    }

    /* Main */
    /* Sections */
    .porfolio,
    .about,
    .contact,
    .form {
        font-size: calc(1.475rem + 2.7vw);
    }

    /* Star line through */
    .star-line-th {
        max-width: calc(300px + 2vw);
    }

}