/* CUSTOM PROPERTIES */
:root {
    --bluewood: #2C3E50;
    --mint: #1ABC9C;
    --plaudit: #3A546D;
}


/* COLOR PALETTE */
.c-mint {
    color: var(--mint);
}

.bg-mint {
    background-color: var(--mint);
}

.c-bluewood {
    color: var(--bluewood);
}

.bg-plaudit {
    background-color: var(--plaudit);
}

.bg-bluewood {
    background-color: var(--bluewood);
}

/* Heading */
/* Navbar */
nav {
    height: 100px;
}

/* Website name */
.website-name {
    font-size: calc(1.275rem + .3vw);
}

/* Main */
/* Big title */
.big-title {
    font-size: 2.5rem;
}

/* Section */
.porfolio,
.about,
.form {
    font-size: calc(1.375rem + 1.5vw);
}

/* Star line through */
.star-line-th {
    max-width: calc(200px + 2vw);
}

.border-color-bluewood {
    border-color: var(--bluewood);
    border: 2px solid;
}

/* Personal information */
.Contact-form {
    border: none;
    border-bottom: 1px solid #80808087;
    border-radius: 0;
}

/* COMPANY SOCIAL PROFILE */
.company-socials>a {
    border-radius: 50%;
    border: 1px solid;
    font-size: 1.5rem;
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 0 5px;

}

/* COPYRIGHT */
#copyright {
    height: 100px;
}