/* Navbar */
nav {
    background-color: #2C3E50;
    height: 100px;
}

/* Feelancer Profile */
.smile-man {
    height: 450px;
}

.image {
    height: 150px;
    width: 150px;
}

/* Freenlancer Portfolio */
.immagini>div {
    height: 350px;
    /*  margin:35px 0 */
    display: flex;

}

.immagini-belle {
    background-color: burlywood;
    height: 250px;
    width: 250px;
    margin: auto;


}

/* Personal information */
.message {
    height: 150px;
}